.vie-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

    &-text {
        margin-top: -2.5em;
        font-family: 'Poppins';
    }
}

.pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5.5em;
}


