
.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-x:  hidden;
    margin-bottom: -1em;
}

h3 {
    margin-top: -1em;
    color: rgba(255, 255, 255, 0.794);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.textarea {
  font-family: 'poppins';
    padding: 3em 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 10px;
}

input {
    font-family: 'poppins';
    padding: 1em 6em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.email-content {
    position: relative;
}

#email {
    width: 22em;
}

.enveloppe {
    margin-top: 1em;
    height: 3em;
}

.enveloppe:hover {
    transform: scale(1.4);
    transition: 0.3s;
    cursor: pointer;
}

//! Mise en forme des messages d'erreurs à la soumission du formulaire
//! En cas d'erreur ou d'oubli => le placeHolder change de style au moment de la soumission

.error::placeholder {
    color: red;
}

.form-message {
    margin-top: 0.8em;
    padding: 0.2em;
    opacity: 0;
    color: black;
    transition: 0.2s ease;
    border-radius: 10px;
}

#not-mail {
    display: none;
    position: absolute;
    bottom: -0.8em;
    right: 6em;
    color: red;
}

