
.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.textarea {
  font-family: 'poppins';
    padding: 3em 8em;
    margin-bottom: 1em;
}

input {
    font-family: 'poppins';
    padding: 1em 6em;
    margin-bottom: 1em;
}

.button {
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0.5em 2em 0.5em;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background: rgb(222,222,222);
    background: linear-gradient(120deg, rgba(222,222,222,1) 0%, rgba(245,152,3,1) 50%, rgba(221,221,221,1) 100%);
}

.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background: rgb(222,222,222);
  background: linear-gradient(120deg, rgba(222,222,222,1) 0%, rgba(84,245,38,1) 50%, rgba(221,221,221,1) 100%);
}
