.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -2em;
    
    &-text {
        width: 50%;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.3em;
        font-family: 'Poppins';
    }

    &-name {
        font-size: 2em;
        font-family: 'shizuru';
    }
}