// @use 'vars';

.devops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Animation de vagues colorés sur le texte
    &-wrapper {
        text-align: center;
        margin-top: -2em;
        p {
            color: #fff;
            font-family: 'shizuru';
            font-size: 3em;
            background: linear-gradient(
                to right,
                #0a0a0a 10%,
                #bdd1ad 50%,
                #bdf006 60%
            );
            // background-size: auto auto;
            // background-clip: border-box;
            background-size: 200% auto;
            // color: #fff;
            // background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 1.5s linear infinite;
            // display: inline-block;
        }
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
}
