.footer {
    display: flex;
    justify-content: center;
    padding: 1em;

    &-linkedn {
        padding: 1em;
    }

    &-linkedn:hover {
        transform: scale(0.8);
        transition: 1s;
    }

    &-twitter {
        padding: 1em;
    }

    &-twitter:hover {
        transform: scale(0.8);
        transition: 1s;
    }
    
    &-git {
        padding: 1em;
    }

    &-git:hover {
        transform: scale(0.8);
        transition: 1s;
    }
}