.skill-container {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-around;
    margin: 3em 6em;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 13px 50px 13px; 
    cursor: pointer;

    &-react-js-icone {
        height: 4em;
        width: 6em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-js-icone {
        height: 4em;
        width: 6em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-nodejs-icone {
        height: 5em;
        width: 5em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-css-icone {
        height: 4em;
        width: 6em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-html-icone {
        height: 4em;
        width: 6em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-bootstrap-icone {
        height: 6em;
        width: 6em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    &-materialui-icone {
            height: 5em;
            width: 5em;
            animation-duration: 4s;
            animation-name: turnAround;
    }

    &-git-icone {
        height: 5em;
        width: 5em;
        animation-duration: 4s;
        animation-name: turnAround;
    }

    @keyframes turnAround {
        from {
            transform: rotate(0turn)
        }
        to {
            transform: rotate(0.9999turn)
        }
    }
}