body {
  margin: 0;
  background-color: #e95950;
}

.dark {
  background-color: rgb(49, 49, 49);
  color: rgb(230, 194, 195);
}

.light {
  /* background-color: linear-gradient(4deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(221,221,221,1) 100%); */
  background-color: #e95950;
}


