// @use 'src/styles/vars';

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    padding: 2em;
    font-family: 'Poppins';

    &-nav-items {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 13px 50px 13px;
        //* à identifier outline 
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        // background-color: rgba(0, 0, 0, 0);
      }
      
      &-nav-items::after {
        //* à identifier content
        content: "";
        background-color: #e5f503;
        width: 100%;
        // On fait ressortir le texte en dessous
        z-index: -1;
        // Positionnement décalé du cadre couleur par rapport au cadre départ
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        // Petite transiction pour l'ésthétique
        transition: 0.2s;
      }
      
      &-nav-items:hover::after {
        // L'animation se positionne pil poil sur le cadre en relative
        top: 0px;
        left: 0px;
      }
   
}

